/* shared style */

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.primary-btn {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 30px;
  border: 0;
  padding: 10px 20px;
  background: #e02c6d;
}
.primary-btn i {
  color: white;
}
/* nav styles */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.5rem 7.5rem;
}
.nav-title {
  color: #3a3a3a;

  font-size: 24px;

  font-weight: 700;
}
nav ul {
  display: flex;
}
nav ul li {
  margin-right: 2.1rem;
  list-style: none;
}
nav ul li a {
  color: #3a3a3a;
  text-decoration: none;
  font-weight: 600;
}

/* banner styles */

.banner-container {
  display: flex;
  justify-content: space-around;
  margin: 2.5rem 7.5rem;
  align-items: center;
}
.banner-title {
  color: #3a3a3a;

  font-size: 52px;

  font-weight: 700;
  line-height: 70px; /* 134.615% */
}
.banner-text {
  color: #3a3a3a;

  font-size: 16px;

  font-weight: 600;
}
.banner-img img {
  width: 440px;
  height: 414px;
}
/* social media link style */

.social-media {
  display: flex;
  justify-content: center;
  gap: 57px;
}
/* gallery style */

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 55px;
  max-width: 200px;
  padding: 0 194px;

}

.gallery {
  width: 329px;
  height: 476px;
  margin-bottom: 0;
}
.gallery p {
  color: var(--gray-50, #787885);

  font-size: 14px;
   margin: 0;
  font-weight: 700;
  line-height: 143%; /* 20.02px */
  letter-spacing: 0.252px;
}
.gallery .star-container span i {
  color: #fb8200;
}
.star-container {
  display: flex;
  align-items: center;
  padding-right: 7px;
}
.gallery h3 {
  color: var(--text-gray-900, #18191f);

  font-size: 28px;

  font-weight: 500;
  line-height: 40px; /* 142.857% */
}

/*  responsive style medium device */

@media screen and (max-width: 576px) {
  nav {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .nav ul {
    padding: 0;
    max-width: 90%;
  }
  .banner-container {
    flex-direction: column-reverse;
    width: auto;
  }
  .banner-img img {
    width: 362px;
    height: 377px;
  }
  .social-media {
    flex-wrap: wrap;
  }
}
